// Media Query Size
$pc-width: 1280px;
$mobile-width: 600px;

// Media Query PC 너비 1280px 이상
@mixin pcWidth {
  @media (min-width: #{$pc-width}) {
    @content;
  }
}

// Media Query mobile 너비 600px 이하
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

// Font
@mixin font( $size , $weight:400 , $line-h:$size * 1.5 ) {
  font-size: $size;
  line-height: $line-h;
  letter-spacing: - ($size * .03);
  font-weight : $weight;
}

// Color
$colors: (
  primary: #3AB54A,
  secondary: #FF8E28,
  grayscale50: #F2F4F6,
);
@function color($color_name) {
  @return map-get($colors, $color_name);
}

$sky: #4EA5D9;